.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--light);
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  margin-left: 260px;
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 70px;
  }
}

@media (max-width: 768px) {
  .layout-body {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    margin-top: 0;
  }
}
